<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45546538-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-45546538-4');
    </script>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{site.url}}/YinYang.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    {% if page.robots %}
    <meta name="robots" content="{{ page.robots }}"> 
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{{ '/assets/css/portfolio-item.css' | relative_url }}" rel="stylesheet">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



</head>
