<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    {% if page.robots %}
    <meta name="robots" content="{{ page.robots }}"> 
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ '/assets/css/portfolio-item.css' | relative_url }}" rel="stylesheet">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">



</head>