<!DOCTYPE html>
<html lang="{{ site.locale }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4"><a href="{{ page.link_to_site }}" target="_blank">{{ page.title }}</a>
        <small>{{ page.tagline }}</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <a href="{{ page.link_to_site }}" target="_blank">
          <img class="img-fluid" src="{{ page.img750x500 }}" alt="{{ page.title }}">
        </a>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
          {{ content }}
          <h3 class="my-3">Project Details</h3>
          <table>
            <tr><th>Audience:</th><td>{{ page.audience }}</td></tr>
            <tr><th>Language:</th><td>{{ page.language }}</td></tr>
            <tr><th>Repository:</th><td><a href="{{ page.repository }}" target="_blank">{{ page.repository }}</a></td></tr>
          </table>
        </div>

      </div>
      <!-- /.row -->
          {% include disqus.html %}
      <!-- Recent Projects Row -->
      <h3 class="my-4">Recent Projects</h3>
      <div class="row">
          {% for post in site.posts limit:4 %}
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img class="img-fluid" src="{{ post.img500x300 }}" alt="{{ post.title }}">
          </a>
        </div>
        {% endfor %}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    </main>
    {%- include footer.html -%}
  </body>
</html>
